h1{
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.name-highlight{
    color: orange;
}
.half-well{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-well img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    fornt font-weight: 700;

}
.half-welll img{
    width: 100%;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.dream-job{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 80%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(to bottom,lightsalmon, tomato) 1;
}
#frontend{
    border-left: 5px solid;
    border-image: linear-gradient(to bottom,blue, cyan) 1;
}
.footer {
    text-align: center;
    padding: 20px 0;
    fornt-size: 12px;
}